body{
    background-color: red;
}
img{
    display: flex;
    margin: auto;
    width: 50vw;
    height: 50vh;
    margin-top: 25vh;
    
}
@media (min-width: 598px){
.img{
    display: flex;
    height: 50vh;
    width: 50vw;
}
}